<form method="post" action="/api/restaurants/pages">
  <label for="page"> Page: </label>
  <input type="text" name="page" placeholder="Enter page number" /> &nbsp;
  <label for="perPage"> perPage: </label>
  <input type="text" name="perPage" placeholder="Enter perPage number" /> &nbsp;
  <label for="borough"> borough: </label>
  <input type="text" name="borough" placeholder="Enter borough" /> &nbsp;
  <input type="submit" value="Submit" class="btn" />
</form>