<h2>Welcome to ITE5315 Project!</h2>
<form method="post" action="/login">
  Username:
  <input type="text" name="username" />
  <br /><br />
  Password:
  <input type="text" name="password" />
  <input type="submit" value="Login" class="btn"/>
</form>